.banner {
  background-image: 
  linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
  url("https://plus.unsplash.com/premium_photo-1675714692733-bc27da8f6f0e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");   
  color: white;
  padding: 150px 0px;
	background-size: cover;     
	background-position: center;
}

.banner h1 {
  font-size: 50px;
}
.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}